<?xml version="1.0">
<configuration>
<system.webserver>
<rewrite>
<rules>
    <rule name ="React Routes">
    <match url="*">
    <conditions logicalGrouping="MatchAll">
    <add input="{REQUEST_FILENAME}" matchType="isFile" negate ="true"/>
    <add input="{REQUEST_FILENAME}" matchType="isDirectory" negate ="true"/>
    <add input="{REQUEST_URI}" pattern="^/(api)" negate ="true"/>
    </conditions>
    <actions type="Rewrite" url="/" />
    </rule>
</rules>
</rewrite>
</system.webServer>
</configuration>

