@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

html {
    font-family: 'Urbanist', sans-serif;
}

:root {
    --burntumber: #96351E;
    --brandy: #DBB98F;
    --Raffia: #DDC6A8;
    --pearl: #ffffff;
    --seashell: #f2f2f2;
    --charcoal: #222023;
    --lightblue: #A2B9C9;
    --lightgreen: #95B3AB;
    --lightyellow: #EFD78D;
    --lightbrown: #D5AD70;
    --lightred: #E8AD98;
    --charcoal50: #22202331;
}

body {
    background-color: var(--pearl);
}

/*---------------------------------------------------bodyscrollbar css-------------------------------------------------------------------- */
body::-webkit-scrollbar {
    height: 0.7rem;
}

body::-webkit-scrollbar-track {
    background: var(--pearl);

}

body::-webkit-scrollbar-thumb {
    background: var(--burntumber);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*---------------------------------------------------bodyscrollbar css-------------------------------------------------------------------- */

/*--------------------------------------------------------scroolbar css------------------------------------------------------------------- */
.scroll {
    padding: 1px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: max-content;
}

.scroll::-webkit-scrollbar {
    height: 0.4rem;
}

.scroll::-webkit-scrollbar-track {
    background: var(--seashell);
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--burntumber);
    border-radius: 65rem;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*--------------------------------------------------------scroolbar css------------------------------------------------------------------- */

/*---------------------------------------------------------navbar css----------------------------------------------------------------------*/
.navsection {
    background-color: var(--seashell);
    font-family: 'Urbanist', sans-serif;
    box-shadow: 0px 1px 6px 0px black;
}

.navsection .menu p {
    color: var(--charcoal);
    font-size: 0.875rem;
}

.navsection .addbtn {
    background-color: var(--burntumber);
    color: var(--pearl);
    letter-spacing: 0.078rem;
    width: 90%;
    max-width: 5rem;
    min-width: 4rem;
}

.navsection .addbtn:hover {
    border: 1px solid var(--burntumber);
}

.navsection .addbtn:focus+.addoptions {
    display: block;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.navsection i {
    font-size: 150%;
}

.navsection .username {
    font-size: 1rem;
    letter-spacing: 0.009rem;
}

.navsection .userstatus {
    font-size: 1rem;
    letter-spacing: 0.009rem;
}

.navbar-brand img {
    display: flex;
    width: 75%;
    margin: 0 auto;
}

/*---------------------------------------------------------navbar css----------------------------------------------------------------------*/
.doctorsection {
    background-color: var(--seashell);
}

.doctorsection i {
    font-size: 200%;
}

.search input {
    text-align: center;
}

.searchbtn {
    border: none;
    color: var(--burntumber);
    background-color: transparent;
    left: 5%;
    top: 15%;
}
.searchlist{
    z-index: 5000;
}
.patientsearch input {
    text-align: center;
}

.patientsearchbtn {
    bottom: 15%;
    left: 10%;
}

.navsection .addoptions {
    left: -1.5rem;
    top: 3.4rem;
    z-index: 1;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    width: 20rem;
    transition: all 0.4s;
}

.navsection .addoptions:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: var(--pearl);
    top: -0.5rem;
    left: 4rem;
    transform: rotate(45deg);
    z-index: -1;
    border: 1px solid var(--pearl)
}

.navsection .addoptions .doctorslot {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navsection .addoptions input {
    border: none;
    color: var(--charcoal);
    background-color: var(--pearl);
    font-size: 1rem;
}

.navsection .addoptions input:hover {
    background-color: var(--burntumber);
    color: var(--pearl);
}



/*----------------------draggable css--------------------------------------------------*/
.DraggableDiv {
    /* to allow the draggable div's to scroll with the content make the position absolute */
    position: fixed;
    top: 0;
    left: 0;
}

.DraggableDiv div {
    padding: 5px;
}

.DraggableDiv .Header {
    cursor: move;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #000000;
    background-color: #566895;
}

#DraggableDiv2 {
    cursor: move;
    top: 40%;
    left: 25%;
}

/*----------------------draggable css--------------------------------------------------*/

/*----------------------search animation css--------------------------------------------------*/
.Search-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--seashell);
    height: 2rem;
    border-radius: 1rem;
    color: var(--charcoal);
    transition: all 0.4s;
    width: 25%;
    padding: 2%;
}

.Search-box:hover>.Search-Text {
    width: 80%;
}

.Search-box:hover {
    width: 90%;
    background: var(--pearl);
}

.Search-btn {
    color: transparent;
    float: right;
    margin: 0;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

}

.Search-Text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: var(--charcoal);
    font-size: 1rem;
    transition: all 0.4s;
    width: 0px;
    transition: all 0.4s;
}

/*-------------------------------------------------------------------search animation css--------------------------------------------------*/
/*-------------------------------------------------------------------menu (icons) css--------------------------------------------------*/
/* .menu .col-auto:hover {
    background-color: var(--pearl);
    border-radius: 10%;
    cursor: pointer;

}

.menu .col-auto p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--burntumber);
    transition: width .3s;

}

.menu .col-auto:hover p::after {
    width: 100%;
    transition: width .3s;
} */

/*---------------------------------------------------------------Doctor Section css-----------------------------------------------------------*/
.doctorcontainer {
    background-color: var(--seashell);
    margin-top: 0.25rem;
}

.doctorsection {
    font-family: 'Urbanist', sans-serif;
}

.doctorsection .doctorbutton {
    border: 1px solid var(--charcoal);

}

.doctorsection .doctorbutton:focus {
    border: 1px solid var(--charcoal);
    background-color: var(--charcoal);
    box-shadow: 1px 0px 5px 1px var(--charcoal);
    color: var(--pearl);

}

/*---------------------------------------------------------------Doctor Section css---------------------------------------------------------*/
/*---------------------------------------------------------------appointmentform css---------------------------------------------------------*/
.appointmentinfosection {
    background-color: var(--seashell);
    top: 0;
    right: 0;
    font-family: 'Urbanist', sans-serif;
    box-shadow: 0px 0px 0px 1600px#22202370;
    z-index: 2000;
}

.appointmentinfosection .location {
    overflow-x: hidden;
    overflow-y: scroll;
    height: fit-content;
    color: var(--burntumber);
    background-color: var(--seashell);
}

.appointmentinfosection .selectpatientbyid {
    background-color: var(--seashell);
}

.appointmentinfosection .selectdoctor {
    background-color: var(--seashell);
}

.appointmentinfosection .selectdate {
    background-color: var(--seashell);
}

/* .appointmentinfosection .searchinput{
    position: absolute;
    height:10rem;
    z-index:2;
} */

/*---------------------------------------------------------------appointmentform css--------------------------------------------------------*/
.addpatient {
    background-color: var(--seashell);
    font-size: 1.2rem;
    border: none;
    color: var(--charcoal);
    font-family: 'Urbanist', sans-serif;
}

.addpatient:hover {
    background-color: var(--burntumber);
    color: var(--pearl);
}

.patientinfosection {
    background-color: var(--seashell);
    font-family: 'Urbanist', sans-serif;
    z-index: 2000;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 0px 1600px#22202370;
    overflow-y: scroll;
    max-height: 45rem;
    min-height: 30rem;
}

.closebtn {
    top: 1%;
}

.parentclose {
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
    background-color: transparent;

}

.parentclose:hover {
    cursor: context-menu;
}

.genderbtn {
    border: none;
    color: var(--charcoal);
}

.genderbtn:focus {
    background-color: var(--burntumber);
    color: var(--pearl);
}

.doctorinfosection {
    background-color: var(--seashell);
    right: 0;
    top: 0;
    font-family: 'Urbanist', sans-serif;
    box-shadow: 0px 0px 0px 1600px#22202370;
    z-index: 2000;
}

.doctorinfosection .specialitybtns {
    background-color: var(--Raffia);
    color: var(--charcoal);
}


.patientsection {
    font-family: 'Urbanist', sans-serif;
}



.patientsection #livetime {
    font-weight: 800;
    font-size: 1.2rem;
    z-index: 2;
}

.patientsection #livetime {
    cursor: grab;
}

.patientsection .cardcss {
    max-width: min-content;
    min-width: min-content;
    color: var(--charcoal);
}

#cardslot,
.card {
    min-width: 5rem;
    width: 13rem;
}

.patientsection .card {
    background-color: var(--seashell);
}


.patientsection .card .card-text {
    color: #22202388;
    font-weight: 800;
}

.timeslotsection {
    font-family: 'Urbanist', sans-serif;
}
.allappointmentsection .datatable tr:nth-child(even) {
    background-color: var(--seashell);
}
.allappointmentsection .updateappointment {
    top: -10rem;
    bottom: 0;
    margin-top: 20rem;
    margin-bottom: 30rem;
}

.allappointmentsection .vitals{
    max-width:40rem;
    left:0;
    right:0;
    padding:0;
    margin:0 auto;
    top:-10rem;
    margin-top: 20rem;
    margin-bottom: 30rem;
}
.allappointmentsection .bill{
    width:40rem;
    min-width:30rem;
    max-width:50rem;
    left:0;
    right:0;
    padding:0;
    margin:0 auto;
    top:-15rem;
    margin-top: 20rem;
    margin-bottom: 30rem;
}
.allappointmentsection .bill .scroll{
    max-height:30rem;
    overflow-y: auto;
    min-height:20rem;
}
.allappointmentsection .tablesection {
    min-height: 10rem;
    max-height: 12rem;
}


.allappointmentsection .actionoptions {
    display: none;
    background: var(--seashell);
    border: 1px solid var(--lightblue);
    z-index: 2;
    left: 2rem;
    box-shadow: 1px 0px 5px 1px var(--charcoal);
    width: min-content;
}


.allappointmentsection .actionoptions:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: var(--seashell);
    top: -0.7rem;
    left: 0.6rem;
    border-left: 1px solid var(--lightblue);
    border-top: 1px solid var(--lightblue);
    transform: rotate(45deg);
}

.allappointmentsection .action:focus+.actionoptions {
    display: block;
}

.allappointmentsection .moreoptions {
    display: none;
    background: var(--seashell);
    border: 1px solid var(--lightblue);
    z-index: 2;
    box-shadow: 1px 0px 5px 1px var(--charcoal);
    font-weight: 800;
    right: 2rem;
    width: min-content;
}

.allappointmentsection .moreoptions tr:hover {
    cursor: pointer;
}

.allappointmentsection .moreoptions:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: var(--seashell);
    top: -0.7rem;
    right: 0.6rem;
    border-left: 1px solid var(--lightblue);
    border-top: 1px solid var(--lightblue);

    transform: rotate(45deg);
}

.allappointmentsection .more:focus+.moreoptions {
    display: block;
}

.allappointmentsection .timeslotbtns {
    border: 1px solid var(--burntumber);
    color: var(--burntumber);
}


/*------------------------------------------------------------------Common css--------------------------------------------------------------*/
.appointmentinfosection .done,
.patientinfosection .done,
.doctorinfosection .done {
    background-color: var(--burntumber);
    color: var(--pearl);
}

/*------------------------------------------------------------------Common css--------------------------------------------------------------*/

@media (max-width:1024px) {
    .allappointmentsection .tablesection {
        max-height: 32rem;
    }
}

@media (max-width:992px) {
    .navsection .username {
        font-size: 0.8rem;
    }

    .navsection .userstatus {
        font-size: 0.8rem;

    }

    .navsection menu p {
        font-size: 0.5rem;
    }

    .navsection .addbtn {
        font-size: 1rem;
    }


    .menu p {
        display: none;
    }

    .scroll::-webkit-scrollbar {
        height: 0.6rem;
    }

    .allappointmentsection .updateappointment {
        margin-left: 10%;
        margin-top: 10%;
    }

}

@media (max-width:790px) {
    .navsection .username {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }

    .navsection .userstatus {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }

    .navsection .addoptions {
        width: fit-content;
    }

    .navsection .addbtn {
        font-size: 1rem;
        margin: 0;
        padding:0.4rem;
    }

    .menu p {
        display: none;
    }

    .addpatient {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.5rem;
    }
}

@media(max-width:768px) {
    .navsection .username {
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
    }

    .navsection .userstatus {
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
    }

    .scroll::-webkit-scrollbar {
        height: 0.5rem;
    }

    .Search-box:hover>.Search-Text {
        width: 80%;
    }

    .navsection .addbtn {
        font-size: 0.8rem;
    }
}

@media(max-width:767px)and (min-width:577px) {
    .navsection .username {
        font-size: 0.6rem;
    }

    .navsection .userstatus {
        font-size: 0.6rem;

    }

    .navsection .addbtn {
        font-size: 0.8rem;
    }

    .addpatient {
        font-size: 0.9rem;
    }

    .searchbtn {
        font-size: 0.7rem;
        left: 0;
    }

    .menu p {
        display: none;
    }

    .search input {
        font-size: 0.6rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.5rem;
    }
}

@media (width:576px) {
    .navsection .username {
        font-size: 0.6rem;
    }

    .navsection .userstatus {
        font-size: 0.6rem;
    }

    .addpatient {
        font-size: 1rem;
    }

    .menu p {
        display: none;
    }

    .doctorsection i {
        font-size: 1.5rem;
    }

    .navsection .addbtn {
        font-size: 0.6rem;
    }

    .search input {
        font-size: 0.6rem;
    }

    .searchbtn {
        font-size: 0.8rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.4rem;
    }
}

@media(min-width:487px) and (max-width:575px) {
    .navsection .username {
        font-size: 1rem;
    }

    .navsection .addbtn {
        font-size: 1rem;
    }

    .search input {
        font-size: 1rem;
    }

    .navsection .userstatus {
        font-size: 1rem;
    }

    .addpatient {
        font-size: 1rem;
    }

    .menu p {
        display: none;
    }

    .doctorsection i {
        font-size: 2rem;
    }

    .searchbtn {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.3rem;
    }

}

@media(max-width:376px) {

    .navsection .username {
        font-size: 0.8rem;

    }

    .navsection .userstatus {
        font-size: 0.8rem;
    }

    .search {
        padding: 5%;
    }

    .searchbtn {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.2rem;
    }
}

@media(max-width:321px) {
    .search {
        padding: 5%;
    }

    .searchbtn {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.2rem;
    }
}


#id_work_days {
    height: 4rem;
    border: none;
    overflow: hidden;
    background-color: var(--seashell)
}

#id_work_days::-moz-focus-inner {
    border: 0;
}

#id_work_days:focus {
    outline: none;
}

#id_work_days option {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
}

#id_work_days option:hover {
    border: 1px solid var(--burntumber);
    color: var(--pearl);
    background-color: var(--burntumber);
}