.DSRsection .page {
    z-index: 1000;
}

.Appointments_Dsrsection .CARD1 {
    border-left: 3px solid var(--burntumber);
    border-right: 1px solid var(--charcoal50);
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);
}

.Appointments_Dsrsection .CARD2 {
    border-left: 3px solid var(--brandy);
    border-right: 1px solid var(--charcoal50);
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);
}

.Appointments_Dsrsection .CARD3 {
    border-left: 3px solid var(--lightgreen);

}

.Appointments_Dsrsection .maintable {
    max-height: 10rem;
}

@media (max-width:769px) {
    .Appointments_Dsrsection {
        font-size: 0.8rem;
    }

    .Appointments_Dsrsection .CARD1 {
        width: 18.9rem;
    }

    .Appointments_Dsrsection .CARD3 .button {
        font-size: 0.8rem;
        padding: 0;
        margin-left: 1rem;
    }

    .maintable {
        max-height: 10rem;
    }
}