@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

:root {
    --burntumber: #96351E;
    --brandy: #DBB98F;
    --Raffia: #DDC6A8;
    --pearl: #ffffff;
    --seashell: #f2f2f2;
    --charcoal: #222023;
    --lightblue: #A2B9C9;
    --lightgreen: #95B3AB;
    --lightyellow: #EFD78D;
    --lightbrown: #D5AD70;
    --lightred: #E8AD98;
    --charcoal50: #22202331;
    --charcoal75: #222023ad;
}
/* textarea,input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
    -webkit-appearance:none;
    } */
body {
    font-family: 'Urbanist', sans-serif;
}

/*--------------------------------------------------------------page2appointment css--------------------------------------------------------*/
.page2appointment {
    font-family: 'Urbanist', sans-serif;
    color: var(--charcoal);
    z-index: -2;
    max-height: 62vh;
    min-height: 62vh;
}

.page2appointment .daterange img{
    width:2rem;
}
.page2appointment section{
    min-height: 68vh;
    max-height: 68vh;
  } 

.page2appointment tr:nth-child(even) {
    background-color: var(--seashell);
}

.page2appointment h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    color: var(--charcoal);
}

input[value="00:00:00"]::-webkit-datetime-edit {
    color: transparent;
}

input[placeholder-shown] {
    color: black;
}


.page2appointment .daterangetitle {
    color: var(--burntumber);
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
}

.page2appointment input {
    font-family: 'Urbanist', sans-serif;
}

/*--------------------------------------------------------------page2appointment css--------------------------------------------------------*/


    .bill .scroll {
    max-height: 30rem;
    overflow-y: auto;
    min-height: 20rem;
}

 @media (max-width:512px){
   .page2appointment section{
      min-height: 55vh;
      max-height: 55vh;
    }
    .page2appointment h4{
        font-size:1rem !important;
    }
    .page2appointment h6{
        font-size:0.76rem !important;
    }
    .page2appointment .button-sm{
        font-size: 0.8rem !important;
        padding:0.2rem 0.9rem !important; 
    }
    .page2appointment span{
        font-size:0.7rem; 
    }
    .page2appointment .daterange .button-sm{
        padding:0.2rem !important;
        font-size:0.8rem !important; 
    }
    .page2appointment .daterange img{
        width:1.3rem !important;
    }
    .page2appointment .form-control{
        padding:0.3rem;
        font-size:0.8rem;
    }
    .page2appointment table{
        font-size:0.7rem;

    }
    .page2appointment table thead{
        padding:0px !important;
    }
    .page2appointment table tbody{
        padding:0px !important;
        margin:0px !important;
    }
    .page2appointment table img{
        width:1.3rem !important;
    }
    .page2appointment table .btn{
        font-size:0.7rem !important;
    }
    .page2appointment table .dropdown{
        padding:0px !important;
        margin:0px !important;
    }
   .page2appointment .updateappointment h5{
        font-size:0.8rem !important;
    }
    .page2appointment .updateappointment .btn-close{
        margin:0px !important;
    }
    .page2appointment .updateappointment .clinics {
        font-size:0.7rem;
    }
    .page2appointment .updateappointment .button{
        padding:0.2rem 0.4rem !important; 
        font-size: 0.7rem !important;
    }
    .page2appointment .updateappointment .button-sm{
        padding:0.2rem 0.4rem !important; 
        font-size: 0.6rem !important;
     }
     .payments h5{
        font-size: 0.9rem;
     }
     .payments .button{
        padding:0.2rem 0.4rem !important; 
        font-size: 0.7rem !important;
    }
 }