@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

:root {
    --burntumber: #96351E;
    --brandy: #DBB98F;
    --Raffia: #DDC6A8;
    --pearl: #ffffff;
    --seashell: #f2f2f2;
    --charcoal: #222023;
    --lightblue: #A2B9C9;
    --lightgreen: #95B3AB;
    --lightyellow: #EFD78D;
    --lightbrown: #D5AD70;
    --lightred: #E8AD98;
    --charcoal50: #22202331;
    --charcoal75: #222023ad;
}

body {
    font-family: 'Urbanist', sans-serif;
}





/*--------------------------------------------------------------page2appointment css--------------------------------------------------------*/
.page2appointment {
    font-family: 'Urbanist', sans-serif;
    color: var(--charcoal);
    z-index: -2;
    max-height: 62vh;
    min-height: 62vh;
}






.page2appointment tr:nth-child(even) {
    background-color: var(--seashell);
}

.page2appointment h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    color: var(--charcoal);
}

input[value="00:00:00"]::-webkit-datetime-edit {
    color: transparent;
}

input[placeholder-shown] {
    color: black;
}

/* .page2appointment .allbtn,
.page2appointment .cancelledbtn,
.page2appointment .completedbtn,
.page2appointment .unattandedbtn {
    background-color: var(--pearl);
    color: var(--charcoal);
    border: 1px solid var(--charcoal);

}

.page2appointment .allbtn:hover,
.page2appointment .cancelledbtn:hover,
.page2appointment .completedbtn:hover,
.page2appointment .unattandedbtn:hover {
    border: 1px solid var(--charcoal);
    box-shadow: 1px 0px 5px 1px var(--charcoal);
}

.page2appointment .allbtn:focus,
.page2appointment .cancelledbtn:focus,
.page2appointment .completedbtn:focus,
.page2appointment .unattandedbtn:focus {
    background-color: var(--charcoal);
    color: var(--pearl);
    box-shadow: 1px 0px 5px 1px var(--charcoal);

} */

.page2appointment .daterangetitle {
    color: var(--burntumber);
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
}

.page2appointment input {
    font-family: 'Urbanist', sans-serif;
}

/*--------------------------------------------------------------page2appointment css--------------------------------------------------------*/


    .bill .scroll {
    max-height: 30rem;
    overflow-y: auto;
    min-height: 20rem;
}

