/* @import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
/* * {

} */

:root {
    --burntumber: #96351E;
    --brandy: #DBB98F;
    --Raffia: #DDC6A8;
    --pearl: #ffffff;
    --seashell: #f2f2f2;
    --charcoal: #222023;
    --lightblue: #A2B9C9;
    --lightgreen: #95B3AB;
    --lightyellow: #EFD78D;
    --lightbrown: #D5AD70;
    --lightred: #E8AD98;
    --charcoal50: #22202331;
}

body {
    font-family: 'Urbanist', sans-serif;
    background-color: var(--pearl);
}



/*---------------------------------------------------------navbar css----------------------------------------------------------------------*/

.Clinicslist .logo {
    width: 10.5rem;
}

.bg_a {
    padding: 0px;
    z-index: -1;
}

.bg_a img {
    margin-top: 17%;
    margin-left: 50%;
    width: 50%;

}

.Clinicslist h4 {
    padding: 0;
    margin-top: 20%;
    margin-left: 20%;
    width: max-content;
}

.Clinicslist .clinics {
    margin-left: 20%;
    width: max-content;
}

.navsection {
    background-color: var(--seashell);

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.151);
}

.navsection .menu p {
    color: var(--charcoal);
    font-size: 0.875rem;
}

.navsection .addbtn {
    background-color: var(--burntumber);
    color: var(--pearl);
    max-width: 5rem;
    min-width: 4rem;
}

.navsection .addbtn:hover {
    border: 1px solid var(--burntumber);
}

.navsection .addbtn:focus+.addoptions {
    display: block;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.navsection i {
    font-size: 150%;
}

.navsection .username {
    font-size: 1rem;
    letter-spacing: 0.009rem;
}

.navsection .userstatus {
    font-size: 0.75rem;
    letter-spacing: 0.009rem;
}

.navbar-brand img {
    display: flex;
    width: 75%;
    margin: 0 auto;
}

/*---------------------------------------------------------navbar css----------------------------------------------------------------------*/


.doctorsection i {
    font-size: 200%;
}


.searchbtn {
    border: none;
    color: var(--burntumber);
    background-color: transparent;
    left: 5%;
    top: 15%;
}

.searchlist {
    z-index: 3;
}

.patientsearch input {
    text-align: center;
}

.patientsearchbtn {
    bottom: 15%;
    left: 10%;
}

.navsection .addoptions {
    z-index: 1;
    max-width: 20rem;
    min-width: fit-content;
}

.navsection .addoptions:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: var(--pearl);
    top: -0.5rem;
    left: 4rem;
    transform: rotate(45deg);
    z-index: -1;
    border: 1px solid var(--pearl)
}

.navsection .addoptions .doctorslot {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navsection .addoptions input {
    border: none;
    color: var(--charcoal);
    background-color: var(--pearl);
    font-size: 1rem;
}

.navsection .addoptions input:hover {
    background-color: var(--burntumber);
    color: var(--pearl);
}

/*----------------------search animation css--------------------------------------------------*/
.Search-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--seashell);
    height: 2rem;
    border-radius: 1rem;
    color: var(--charcoal);
    transition: all 0.4s;
    width: 25%;
    padding: 2%;
}

.Search-box:hover>.Search-Text {
    width: 80%;
}

.Search-box:hover {
    width: 90%;
    background: var(--pearl);
}

.Search-btn {
    color: transparent;
    float: right;
    margin: 0;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

}

.Search-Text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: var(--charcoal);
    font-size: 1rem;
    transition: all 0.4s;
    width: 0px;
    transition: all 0.4s;
}

/*-------------------------------------------------------------------search animation css--------------------------------------------------*/
/*-------------------------------------------------------------------menu (icons) css--------------------------------------------------*/
/* .menu .col-auto:hover {
    background-color: var(--pearl);
    border-radius: 10%;
    cursor: pointer;

}

.menu .col-auto p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--burntumber);
    transition: width .3s;

}

.menu .col-auto:hover p::after {
    width: 100%;
    transition: width .3s;
} */

/*---------------------------------------------------------------Doctor Section css-----------------------------------------------------------*/



.doctorsection .doctorbutton {
    border: 1px solid var(--charcoal);

}

.doctorsection .doctorbutton:focus {
    border: 1px solid var(--charcoal);
    background-color: var(--charcoal);
    box-shadow: 1px 0px 5px 1px var(--charcoal);
    color: var(--pearl);

}

/*---------------------------------------------------------------Doctor Section css---------------------------------------------------------*/
/*---------------------------------------------------------------appointmentform css---------------------------------------------------------*/


.appointmentinfosection .location {
    overflow-x: hidden;
    overflow-y: scroll;
    height: fit-content;
    color: var(--burntumber);
    background-color: var(--seashell);
}

.appointmentinfosection .selectpatientbyid {
    background-color: var(--seashell);
}

.appointmentinfosection .selectdoctor {
    background-color: var(--seashell);
}

.appointmentinfosection .selectdate {
    background-color: var(--seashell);
}

/* .appointmentinfosection .searchinput{
    position: absolute;
    height:10rem;
    z-index:2;
} */

/*---------------------------------------------------------------appointmentform css--------------------------------------------------------*/
.addpatient {
    background-color: var(--seashell);
    font-size: 1.2rem;
    border: none;
    color: var(--charcoal);
}

.addpatient:hover {
    background-color: var(--burntumber);
    color: var(--pearl);
}

.patientinfosection {
    background-color: var(--seashell);
    z-index: 5;
    right: 0;
    overflow-y: scroll;
    max-height: 40rem;
    min-height: 30rem;
}

.closebtn {
    top: 1%;
}

/* .paymentstable {
    width: 100%;
    max-width: 100%;
    overflow: scroll;
} */

.parentclose {
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
    background-color: transparent;
}

.parentclose:hover {
    cursor: context-menu;
}

.genderbtn {
    border: none;
    color: var(--charcoal);
}

.genderbtn:focus {
    background-color: var(--burntumber);
    color: var(--pearl);
}

.doctorinfosection {
    right: 0;
    z-index: 4;
}

.doctorscheduledata h5 {
    font-size: 0.8rem;
}

.doctorinfosection .specialitybtns {
    background-color: var(--Raffia);
    color: var(--charcoal);
}

.patientsection #livetime {
    font-weight: 800;
    font-size: 1.2rem;
    z-index: 2;
}

.patientsection #livetime {
    cursor: grab;
}

.patientsection .cardcss {
    max-width: min-content;
    min-width: min-content;
    color: var(--charcoal);
}

#cardslot,
.card {
    width: fit-content;
}

.patientsection .card {
    background-color: var(--seashell);
}


.patientsection .card .card-text {
    color: #22202388;
    font-weight: 800;
}

.allappointmentsection {
    z-index: 1;
}

.message_box {
    z-index: 10;
}

.allappointmentsection .datatable tr:nth-child(even) {
    background-color: var(--seashell);
}

.allappointmentsection .updateappointment {
    max-width: 90rem;
    margin: 0 auto;
    z-index: 3;
}

.allappointmentsection .vitals {
    max-width: 40rem;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
    top: -10rem;
    margin-top: 20rem;
    margin-bottom: 30rem;
}



.allappointmentsection .payments .scroll-y {
    max-width: 40rem;
}

.allappointmentsection .bill .scroll {
    max-height: 30rem;
    overflow-y: auto;
    min-height: 20rem;
}


.allappointmentsection .timeslotbtns {
    border: 1px solid var(--burntumber);
    color: var(--burntumber);
}

.quickappointment {
    z-index: 3 !important;
}

.consumables {
    margin-top: -10vh !important;
}

.search {
    width: 100%;
}

/*------------------------------------------------------------------Common css--------------------------------------------------------------*/

/*------------------------------------------------------------------Common css--------------------------------------------------------------*/

/* .mainsearch{
    width:30vh;
} */
@media (max-width:992px) {
    .search {
        width: 145%;
        margin-top:0.3rem;
    }

    /* .mainsearch{
        width:14vh;
    } */
    .navsection .username {
        font-size: 0.8rem;
    }

    .navsection .userstatus {
        font-size: 0.8rem;

    }

    .navsection menu p {
        font-size: 0.5rem;
    }

    .navsection .addbtn {
        font-size: 1rem;
    }


    .menu p {
        display: none;
    }

    .scroll::-webkit-scrollbar {
        height: 0.6rem;
    }

}

@media (max-width:790px) {
    .search {
        width: 12vh;
    }

    /* .mainsearch{
        width:20vh;
    } */
    .navsection .username {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }

    .navsection .userstatus {
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }

    .navsection .addoptions {
        width: fit-content;
    }

    .navsection .addbtn {
        font-size: 1rem;
        margin: 0;
        padding: 0.4rem;
    }

    .menu p {
        display: none;
    }

    .addpatient {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.5rem;
    }
}

@media(max-width:768px) {
    .navsection .username {
        font-size: 0.85rem;
        padding: 0;
        margin: 0;
    }

    .navsection .userstatus {
        font-size: 0.65rem;
        padding: 0;
        margin: 0;
    }

    .scroll::-webkit-scrollbar {
        height: 0.5rem;
    }

    .Search-box:hover>.Search-Text {
        width: 80%;
    }

    .navsection .addbtn {
        font-size: 0.8rem;
    }
}

@media(max-width:767px)and (min-width:577px) {


    .navsection .username {
        font-size: 0.6rem;
    }

    .navsection .userstatus {
        font-size: 0.6rem;

    }

    .navsection .addbtn {
        font-size: 0.8rem;
    }

    .addpatient {
        font-size: 0.9rem;
    }

    .searchbtn {
        font-size: 0.7rem;
        left: 0;
    }

    .menu p {
        display: none;
    }

    .search input {
        font-size: 0.6rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.5rem;
    }
}

@media (width:576px) {
    .navsection .username {
        font-size: 0.6rem;
    }

    .navsection .userstatus {
        font-size: 0.6rem;
    }

    .addpatient {
        font-size: 1rem;
    }

    .menu p {
        display: none;
    }

    .doctorsection i {
        font-size: 1.5rem;
    }

    .navsection .addbtn {
        font-size: 0.6rem;
    }

    .search input {
        font-size: 0.6rem;
    }

    .searchbtn {
        font-size: 0.8rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.4rem;
    }
}

@media(min-width:487px) and (max-width:575px) {
    .navsection .username {
        font-size: 0.75rem;
    }

    .navsection .addbtn {
        font-size: 1rem;
    }

    .search input {
        font-size: 1rem;
    }

    .navsection .userstatus {
        font-size: 0.65rem;
    }

    .addpatient {
        font-size: 1rem;
    }

    .menu p {
        display: none;
    }

    .doctorsection i {
        font-size: 2rem;
    }

    .searchbtn {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.3rem;
    }

}

@media(max-width:376px) {

    .navsection .username {
        font-size: 0.8rem;

    }

    .navsection .userstatus {
        font-size: 0.8rem;
    }

    .search {
        padding: 5%;
    }

    .searchbtn {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.2rem;
    }
}

@media(max-width:321px) {
    .search {
        padding: 5%;
    }

    .searchbtn {
        font-size: 1rem;
    }

    .scroll::-webkit-scrollbar {
        height: 0.2rem;
    }
}

@media (max-width:512px) {

    .Clinicslist .logo {
        width: 7.5rem;
    }

    .bg_a {
        padding: 0px;
        z-index: -1;
    }

    .bg_a img {
        margin-top: 65%;
        margin-left: 50%;

    }

    .Clinicslist h4 {
        margin-top: 30%;
        margin-left: 5%;
        width: max-content;
    }

    .Clinicslist .clinics {
        margin-left: 0%;
        width: max-content;
        text-align: justify;
    }

    .navsection {
        justify-content: center;
        text-align: center;
    }

    .navsection img {
        width: 1.5rem !important;
        padding: 0.3rem !important;
    }

    .navsection .dropdown .button {
        font-size: 0.8rem;
    }

    .doctorsection .gap-3 {
        gap: 0.3rem !important;
    }

    .doctorsection .button {
        padding: 0.275rem 0.75rem !important;
        font-size: 0.8rem !important;
    }

    .patientsection .loader .button {
        font-size: 0.8rem !important;
    }

    .patientsection .loader .spinner-grow {
        font-size: 0.8rem !important;
        width: 1rem !important;
        height: 1rem !important;
    }

    .patientsection .livetime {
        font-size: 1rem !important;
    }

    .patientsection .livetime2 {
        font-size: 1rem !important;
    }

    .room_timecards p {
        font-size: 0.8rem !important;
    }

    .room_timecards select {
        font-size: 0.8rem !important;
        padding: 0.2rem 0.6rem !important;
    }

    .room_timecards .spinner-border {
        font-size: 0.7rem !important;
    }

    .room_timecards .playbutton img {
        width: 1.3rem !important;
    }

    .room_timecards .pausebutton img {
        width: 1.3rem !important;
    }

    .room_timecards .fromtime {
        font-size: 0.8rem !important;
    }

    .room_timecards .totime {
        font-size: 0.8rem !important;
    }

    .room_timecards .timediff {
        font-size: 0.8rem !important;
    }

    .timeslotsection h5 {
        font-size: 0.9rem !important;
    }

    .timeslotsection img {
        width: 1.3rem !important;
    }

    .timeslots .button-sm {
        font-size: 0.7rem !important;
        padding: 0.2rem 0.6rem !important;
    }

    .allappointmentsection .btn-sm {
        font-size: 0.7rem !important;
        padding: 0.2rem 0.6rem !important;
    }

    .allappointmentsection h5 {
        font-size: 0.9rem !important;
    }

    .allappointmentsection img {
        width: 1.2rem !important;
    }

    .allappointmentsection .table {
        font-size: 0.7rem !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    .allappointmentsection .scroll-y {
        height: 52vh !important;
        min-height: 52vh !important;
        max-height: 52vh !important;
    }

    .quickappointment .clinics {
        font-size: 0.7rem !important;
    }

    .quickappointment .clinics img {
        width: 0.7rem !important;
        align-items: center;
    }

    .quickappointment input {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.7rem !important;
    }

    .quickappointment p {
        font-size: 0.7rem !important;
    }

    /* .quickappointment .searchresult{
        font-size: 0.7rem !important;
     } */
    .quickappointment .selecteds .button {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.6rem !important;
    }

    .quickappointment .spinner-border {
        font-size: 0.7rem !important;
    }

    .quickappointment .donebutton .button {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.7rem !important;
    }

    .quickappointment .btn-close {
        width: 1rem;
        padding: 0px;
    }

    .updateappointment .clinics {
        font-size: 0.7rem !important;
    }

    .updateappointment .clinics img {
        width: 0.7rem !important;
        align-items: center;
    }

    .updateappointment select {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.7rem !important;
    }

    .updateappointment input {
        font-size: 0.6rem !important;
        padding: 0.2rem 0.4rem !important;
    }

    /* .updateappointment .searchresult{
        font-size: 0.7rem !important;
     } */
    .updateappointment .button-sm {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.6rem !important;
    }

    .updateappointment .spinner-border {
        font-size: 0.7rem !important;
    }

    .updateappointment .selectedtime .button {
        font-size: 0.7rem !important;
        padding: 0.2rem 0.4rem !important;
    }

    .updateappointment .btn {
        font-size: 0.7rem !important;
    }


    .quickdocslots .clinics {
        font-size: 0.7rem !important;
    }

    .quickdocslots .clinics img {
        width: 0.7rem !important;
        align-items: center;
    }

    .quickdocslots select {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.7rem !important;
    }

    .quickdocslots input {
        font-size: 0.6rem !important;
        padding: 0.2rem 0.4rem !important;
    }

    .quickdocslots .button {
        padding: 0.2rem 0.4rem !important;
        font-size: 0.6rem !important;
    }

    .quickdocslots .spinner-border {
        font-size: 0.7rem !important;
    }

    .quickdocslots .selectedtime .button {
        font-size: 0.7rem !important;
        padding: 0.2rem 0.4rem !important;
    }

    .quickdocslots .btn {
        font-size: 0.7rem !important;
    }

    .quickdocslots .btn-close {
        width: 1rem;
        padding: 0px;
    }
}


#id_work_days {
    height: 4rem;
    border: none;
    overflow: hidden;
    background-color: var(--seashell)
}

#id_work_days::-moz-focus-inner {
    border: 0;
}

#id_work_days:focus {
    outline: none;
}

#id_work_days option {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
}

#id_work_days option:hover {
    border: 1px solid var(--burntumber);
    color: var(--pearl);
    background-color: var(--burntumber);
}