
.DSRsection .page {
    z-index: 1000;
}

.DSRsection .clinic {
    font-weight:bold;
    border:0px;
    border-top: 1px solid var(--charcoal50);
    border-left: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    appearance: none;
}

.DSRsection .doctor{
    font-weight: bold;
    border:0px;
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);
    cursor: pointer;
    appearance: none;
}
.DSRsection .fromdate{
    padding-top:6px;
    padding-bottom:2px;
    border:0px;
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);

    
}
.DSRsection .dash{
    padding-top:6px;
    padding-bottom:2px;
    border:0px;
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);

    
}
.DSRsection .todate{
    padding-top:6px;
    padding-bottom:2px;
    border:0px;
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);
    border-right: 1px solid var(--charcoal50);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Appointments_Dsrsection .CARD1 , .Pharmacy_Dsrsection .CARD1   {
    border-left: 3px solid var(--burntumber);
    border-right: 1px solid var(--charcoal50);
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);
}

.Appointments_Dsrsection .CARD2 ,.Pharmacy_Dsrsection .CARD2  {
    border-left: 3px solid var(--brandy);
    border-right: 1px solid var(--charcoal50);
    border-top: 1px solid var(--charcoal50);
    border-bottom: 1px solid var(--charcoal50);
}

.Appointments_Dsrsection .CARD3,.Pharmacy_Dsrsection .CARD3 {
    border-left: 3px solid var(--lightgreen);

}
.Appointments_Dsrsection .maintable tr:nth-child(even) {
   background-color: var(--seashell);
}
.Appointments_Dsrsection .maintable {
    max-height: 40vh;
}

.Doctors_Dsrsection .doctordsrtable tr:nth-child(even){
    background-color:var(--seashell)
}
 .doctordsrtable{
    height:32vh;
    max-height:32vh;
}
.Pharmacy_Dsrsection .maintable{
    max-height:32rem;
}
.Pharmacy_Dsrsection .saleentries tr:nth-child(even){
    background-color:var(--seashell)
}
.Pharmacy_Dsrsection .salereturns tr:nth-child(even){
    background-color:var(--seashell)
}
.Pharmacy_Dsrsection .pendingpayrecieve tr:nth-child(even){
    background-color:var(--seashell)
}
.Appointments_Dsrsection .Appointment tr:nth-child(even){
background-color: var(--seashell);
}
.Appointments_Dsrsection .Pendingpay tr:nth-child(even){
    background-color: var(--seashell);
    }
.Appointments_Dsrsection  .Advancepay  tr:nth-child(even){
        background-color: var(--seashell);
        }
    .saleoptions{
        top:20vh
    }  
@media (max-width:810px){
    .saleoptions{
        top:15vh;
    }
}